@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: 'Cairo', sans-serif;
}
html {
  scroll-behavior: smooth;

}

.wrap {
  overflow-wrap: break-word; /* اجبر الكلمة على الالتفاف إذا كانت طويلة */
  word-wrap: break-word; /* نسخ من overflow-wrap لدعم المتصفحات القديمة */
}

.cl-avatarBox {
  width:40px;
  height:40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}